/* General styles about the website's frame */
body {
    margin: 0%;
    background-color: var(--body-background-color);
    color: var(--font-color);
}

div#nav {
    background-color: var(--nav-color);
    padding: 1em;
    margin-bottom: 0;
}

div#nav * {
    margin: 0;
}

div#nav h1 {
    text-align: center;
    font-size: 3em;
}

/* Toggle Theme button */
/* TODO: css toggle button */
#themeSelector {
    position: fixed;
    right: 0;
}

div#center {
    width: 60vw;
    height: 100vh;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 1.5em 1.5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: var(--center-color)
}

/* Error Messages container */
#errorMsgContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    left: 35vw;
    width: 30vw;
    /* height: 100vh; */
    z-index: 5; /* large enough to stack on anything */
}

/* Possible TODO: let the error message float up when previous ones disappear */
.errorMsg {
    background-color: rgb(255, 90, 90);
    opacity: 0.9;
    width: 100%;
    height: 4em;
    padding: 1em;
    word-wrap: break-word;
    
    /* Ensure that the width of this is the same as the container regardless of padding */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Create spacing between error messages */
.errorMsg:not(:last-child) {
    margin-bottom: 1em;
}