:root {
    /* General and frame */
    --font-color: black;
    --body-background-color: #FAEAB1;
    --nav-color: #d29d5c;
    --center-color: #FAF8F1;

    --todo-check-hover-color: black;/*rgb(255, 227, 156);*/
    --todo-check-color: black;
}