doctype html
head
    meta(charset='UTF-8')
    if lightTheme
        link(rel='stylesheet' href='resources/css/lightTheme.css')
    else 
        link(rel='stylesheet' href='resources/css/darkTheme.css')
    //- script(async='' defer='' src='resources/js/.js')
    block head 

body
    div#nav
        block nav
    div#center
        #errorMsgContainer
        block center