doctype html
html(theme="dark")
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='resources/css/themes.css')
        link(rel='stylesheet' href='resources/css/frame.css')
        script(async='' defer='' src='resources/js/frame.js')
        block head 

    body
        div#nav
            h1 todolist
            input#themeSelector(type="button" value="toggle theme")
        div#center
            #errorMsgContainer
            block center