doctype html
html(theme=theme)
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='resources/css/themes.css')
        link(rel='stylesheet' href='resources/css/frame.css')
        script(async='' defer='' src='resources/js/frame.js')
        block head 

    body
        div#nav
            h1 todolist
            div#themeSelector(title="toggle theme")
                .circle 
                .semicircle
                input(type="button" value="toggle theme")
        div#center
            #errorMsgContainer
            block center