extends frame.pug
block head
    link(rel='stylesheet' href='resources/css/todolist.css')
    script(async='' defer='' src='resources/js/todolist.js')

block center
    h1 Get 'em done!
    #todofilter
        span Filters:
        input#donefilter.filter(type="checkbox" value="done") 
        label(for="donefilter") Done
        input#overduefilter.filter(type="checkbox" value="overdue")
        label(for="overduefilter") Overdue 
        input#removefilter(type="button" value="Remove All")
    #todolist 
        each item in rows
            .todoitem(id=item.id)
                label.checkcontainer
                    input(type="checkbox" checked=(item.done==1))
                    span.todocheck
                .textcontainer
                    input.todotext(type="text" value=item.text)
                .datecontainer
                    input.tododate(type="date" value=item.remindDate)
                label.deletecontainer
                    input(type="button")
                    span.tododelete
        #addTodoitem
            div#plus
    //- This fixes the bug where css transition fires on page load in Chrome:
    script 