extends frame.pug
block head
    link(rel='stylesheet' href='resources/css/todolist.css')
    script(async='' defer='' src='resources/js/todolist.js')
block nav
    h1 todolist

block center
    h1 Get 'em done!
    #todofilter
        span Filters:
        input#donefilter.filter(type="checkbox" value="done") 
        label(for="donefilter") Done
        input#overduefilter.filter(type="checkbox" value="overdue")
        label(for="overduefilter") Overdue 
        input#removefilter(type="button" value="Remove All")
    #todolist 
        //-
            .todoitem // .done or .overdue
                label.checkcontainer
                    input(type="checkbox" checked=(item.done==1))
                    span.todocheck
                .textcontainer
                    input.todotext(type="text" value=item.title)
                .datecontainer
                    input.tododate(type="date" value=item.remindDate)
            // TODO: remove button
        #addTodoitem
            div#plus